@charset "UTF-8";
/* CSS Document */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: auto 0;
	padding: 0;
	line-height: 18px;
	font-family: Helvetica Neue, Arial, sans-serif;
}

h1 {
	font: 600 20px "Helvetica Neue";
	text-align: right;
	text-transform: uppercase;
}

p {
	font: 200 15px/ 1.5em "Helvetica Neue";
	max-width: 400px;
	margin-bottom: 30px;
	color: #333;
}

div, ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a:link    {color:black; text-decoration:none;}
a:visited {color:black;text-decoration:none;}
a:hover   {color:#666666;text-decoration:none;}
a:active  {color:#230000;text-decoration:none;}



/* Header Styles */
header {
	background-color: #333;
	height: 55px;
}

/* Navbar Styles */
.navbar-fixed-top {
	position: fixed;
	background: #333;
	opacity: .5;
	padding-right: 20px;
	width: 100%;
	
}

.navbar-fixed-top li {
	display: inline-block;
	margin-left: 10px;
	margin-top:30px;
	
}

.navbar-fixed-top li a {
	text-decoration: none;
	color: #CCC;
	font-family: 'Shadows Into Light Two', cursive;
}

.navbar-fixed-top li a:hover {
	color:#3CC;
}

/* Fluid Grid Styles */

.Grid {
	margin-bottom: 40px;
	text-align: justify;
	font-size: 0.1px;
}

.Grid li {
	display: inline-block;
	background: #eee;
	width: 23%;
	padding-top: 23%; /* Used instead of height to give elements fluid, width-based height */
	margin-bottom: 2.5%;
}


.Grid .placeholder {
	display: inline-block;
	background: #eee;
	width: 23%;
	padding-top: 23%;
	margin-left: 2.5%; /* Used instead of height to give elements fluid, width-based height */
	margin-bottom: 2.5%; /* Border added for demonstration */
}

.container-wrap {
	margin-left: auto;
	margin-right: auto;
}

/* Span4 Content Styles */

.span4 {
}

.span4 h2 {
	background: #3CC;

}
/*/////////////////////////////////////////////////
/ Media Queries Defining Responsive Layouts ///////
/////////////////////////////////////////////////*/

/* 2 COL */

@media (max-width: 600px) {
	.Grid li {
		width: 48%;
		padding-top: 48%;
		margin-bottom: 4%;
	}
	.Grid .placeholder {
		width: 48%;
		padding-top: 48%;
		margin-bottom: 4%;
		margin-left: 3.5%; 
	}
	.span4 {
		background: black;
	}
}

/* 1 COL */
@media (max-width: 400px) {
	.Grid li {
		width: 100%;
		padding-top: 100%;
		margin-bottom: 5%;
	}
	.Grid .placeholder {
		width: 100%;
		padding-top: 100%;
		margin-bottom: 5%; 
		margin-left: 0;
	}
}


